<form id="test" class="form-search" method="get" name="Homepage" action="main.php">
    <input type="hidden" id="testid" value="" disabled="disabled" />	
    <input type="hidden" id="do" name="do" value="Listing" />
	<input type="hidden" id="action" name="action" value="searchKeyword" />
	
    <fieldset>
    <legend>Search Form</legend>
    {!-- <label>What?</label> --}
    <input class="input-large search-query" type="text" name="Search1" id="Search1" required  />
    &nbsp;
    {!-- <label>Where?</label> --}
    <input class="input-large search-query" type="text" name="Search2" id="Search2" />

    <button type="submit" id="Submit" name="Submit" class="btn">Submit</button>
    <label for="Search1" generated="true" class="error" style="width: 300px; background-color:#E9138F; font-weight:bold; color:black; padding:3px; border:1px solid #E9138F; top:0px; display: none;">Please enter a keyword or business name</label>
    
    </fieldset>
</form>
<script language="javascript1.5" src="/View/Default/Js/search.js" type="text/javascript" >
</script>

