
form{margin:0; padding:0;}
html{}
.standardbutton {
   color:#fff;
/*  font-family:Verdana,Arial,Helvetica,sans-serif; */
   font-size:75%;
   font-weight:bold;
   background-color:#999999;
   border:1px solid;
   border-top-color:#000000;
   border-left-color:#000000;
   border-right-color:#000000;
   border-bottom-color:#000000;
   height: 13pt;

 }  
 
.googleadds{
/*border-bottom:1px solid #000000; border-top:1px solid #000000; border-left:1px solid #000000;border-right:1px solid #000000;*/
margin: 0 0 0 7px;
}
 
.leftlist{
	background-image:url(../Images/leftside.gif);
	background-repeat:no-repeat;
	margin-top:5px;
	margin-left:17px;
	width:151px;
	height:440px;
	float:left;
	color:#ffffff;
	text-align:left;
}

.leftlist a{
	font-size:12px;
	color:#ffffff;
	text-align:left;
	line-height:22px;
	margin-left:6px;
		margin-top:20px;
		text-decoration:underline;
		font-weight:bold;
}

.leftlist a:hover{
	color:#ffffff;
	text-decoration:none;

}

.leftlist h2{
	color:#ffffff;
	margin-top:15px;
	font-size:16px;
	font-weight:bold;
	margin-left:6px;
	margin-bottom:6px;
}

 
 .white{
	 background-color:#FFF;
 }

.bbbg{
	background-image:url(../Images/middle.gif);
	background-repeat:repeat-y;
	
}
.classbg{
	background-image:url(../Images/middleback.gif);
	width:980px;
	background-repeat:repeat-x;
	background-color:#2798d4;
	background-position:left top;
	text-align:center;
}

.leftsidebar{
     float:left;
     width:186px;
	  min-height:775px;
	  _height:775px;
}

.navigation {
float:right;
_width:186px;
width:186px;
text-align:left;
 min-height:775px;
_height:775px;
}

.contact_address{
	float:right;

}
.contact_page_details{
		text-align:left;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
	margin-left:150px;
	width:250px;
}
	
body{
font-family:Arial, Helvetica, sans-serif;
padding:0;
background-color: #fff;
text-align:center;
}
img{
border:none;
}

h1 {
padding: 0;
margin:0 0 0 0;
float:left;
}

h2 {
font-size: 1.3em;
font-weight: normal;
padding: 0 0 5px 0;
margin: 0;
color:#FFFFFF;
}
h3 {
font-size:1.1em;
font-weight:normal;
margin:0;
padding:0;
text-align:center;
}
h4 {
background-color:transparent;
color:#DD127B;
font-size:1em;
font-weight:normal;
margin-bottom:0;
padding:0 0 10px;
}
.h4reversed {
background-color:#DC4074;
background-image:url(../Images/bg_pink.gif);
background-position:0 -5px;
background-repeat:repeat-x;
border-top:2px solid #999999;
color:#FFFFFF;
margin-bottom:0;
padding:8px 10px;
}

.h4reversed-contact {
background-color:#DD127B;
background-image:url(../Images/bg_pink.gif);
background-position:0 -5px;
background-repeat:repeat-x;
border-top:2px solid #999999;
color:#FFFFFF;
margin-bottom:0;
padding:8px 10px;
}
p {
font-size:0.8em;
line-height:1.5em;
margin:0 0 0px;
padding:0 0 0px;
}
p.pink {
font-size:0.8em;
line-height:1.5em;
margin:0 0 0px;
padding:0 0 0px;
color: #e90e8d;
font-weight: bold;
}
label {
font-size:12px;
}
input {
font-family:verdana,Arial,Helvetica,sans-serif;
font-size:12px;
}
.black {
color:#000000;
}
.largeinputbox {
background-color:#ffffff;
color:#696969;
font-family:Arial;
font-size:15px;
margin-bottom:10px;
font-weight:bold;
}

input.smallinputbox{
  width:  170px;
}

.bg{
background-color:#FFFCCF;   
}

.widerinputbox {
background-color:#FFFFFF;
border:1px solid #000000;
font-family:Arial;
font-size:8pt;
height:13pt;
margin:1px 5px 0 0;
width:250px;
}
.container {
margin:8px auto;
width:980px;
text-align:left;
overflow:hidden;
}
 
.header {
margin:0 0 5px;
padding:0;
width:998px;
_width:990px;
}
.header-index {
height:61px;
margin:0;
padding:0;
clear:both;
overflow:hidden;
}
.tabTop-index {
color:#000000;
float:right;
margin:123px 10px 0 0;
width:auto;
}
.tabTop-inner {
color:#000000;
float:right;
margin:53px 10px 0 0;
width:auto;
}
a {
text-decoration:none;
}

.white-sperater{ 
padding:0px;  margin:0;
width:980px;
height:39px;
background-image:url(../Images/dividier.gif);
background-repeat:no-repeat;
background-position:top right;
background-color:#FFF;}

.map-sperater{ 
padding:0px;  margin:0;
padding-bottom: 2px;
width:980px;
height:39px;
background-image:url(../Images/map-dividier.gif);
background-repeat:no-repeat;
background-position:top right;
background-color:#FFF;}

.search-header {
padding-top: 3px;
color:       white;
font-weight: bold;
}

.search-header input#Submit {
   margin-top: 1px;
}


.tabsNav{ list-style:none; margin:0px 0 0 0;  float:right;
width:620px;
height:43px;
background-image:url(../Images/nav_bar_1.gif);
background-repeat:no-repeat;
background-position:left top;
margin-right:5px;
margin-top:20px;
/*background:url(../Images/bg-tabsnav.gif);*/ }
.tabsNav td{text-align:center; 
}
.tabsNav td a{ color:#ffffff; font:16px Arial, Helvetica, sans-serif;
vertical-align:middle;
font-weight:bold;
}
.tabsNav td a:hover{ color:#8fc5f8;}
.tabsNav td a.active{ color:#a7c3fb;}

.listing {
color:#000000;
float:left;
font-size:15px;
margin:0;
padding:0;
}


.content {
float:left;
margin:0 0 0 0px;
overflow:hidden;
padding:0 0px 0px 0px;
width:607px;
_width:607px;
text-align:left;
background-color:#FFF;
min_height:650px;
}
.content h1 {
clear:both;
color:#0f3a8f;
float:left;
/*font-family:Georgia,"Times New Roman",Times,serif;*/
font-size:16px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:29px;
padding:0 4px;
text-align:center;
width:100%;
}
.content h1 span {
color:#ea6ab5;
}
.content h1 img {
vertical-align:middle;
}
.content .items {
clear:both;
padding:20px 0 20px 20px;
}
.content .items a {
background:transparent url(../Images/bg-items.gif) no-repeat scroll 0 0;
color:#DB4475;
float:left;
height:166px;
margin:0 20px 11px 0;
text-decoration:none;
width:210px;
}
.content .items a p {
display:block;
margin:5px;
text-align:center;
}
.content .items a p img {
border:medium none;
display:block;
height:102px;
margin:15px auto;
width:121px;
}
.content .items a p span {
border-color:#DB4475;
border-style:solid none;
border-width:1px medium;
display:block;
/*font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;*/
font-size:16px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:22px;
margin:0 5px;
text-align:center;
}
.content .items a:hover {
background:transparent url(../Images/bg-items-hover.gif) no-repeat scroll 0 0;
color:#F69EBB;
}
.content .items a:hover p span {
border-color:#FFD1E0;
border-style:solid none;
border-width:1px medium;
}
.content-big {
/*background-image:url(../Images/bg_content_tile.gif);
background-position:center top;
background-repeat:repeat-x;
float:left;*/
margin:0 3px 5px 5px;
padding:0;
width:700px;
}
.footer {
width:958px;
padding:10px 5px 0 0;
height:80px;
clear:both;
margin:0 auto;
text-align:center;
}

.footer ul{ list-style:none; margin:0 auto;padding:0;overflow:hidden; width:960px;}
.footer ul li{ margin:0;color:#2a4475;font-size:10px;}
.footer ul li a{text-decoration:underline;color:#000;}
.footer ul li a:hover{text-decoration:none;color:#CC0066;}

.snippets {
  width: 171px;
  margin-left: 2px;
  padding: 5px;
  background-color: #FFFFFF;
  border-radius: 15px;

}

.aligh-R{
text-align:right !important;
}

.aligh-L{
text-align:left !important;
}

.middle-content {
margin:0;
padding:0;
}


/********** Search Options Start*************/

.searchbox-index {
height:386px;
margin:0 auto;
padding:0 0 0 0px;
width:990px;
_width:988px;
overflow:hidden;
float:left;
}
.searchbox-front-left{
	background-image:url(../Images/left.jpg);
	background-repeat:no-repeat;
	width:15px;
	height:386px;
	float:left;
}
.searchbox-front-middle{
	background-image:url(../Images/middle.jpg);
	background-repeat:repeat-x;
	width:947px;
	height:386px;
	float:left;
	font-weight:bold;
}
.searchbox-front-middle p{
	color:#ffffff;
	font-size:16px;
	text-align:left;
	margin-left:30px;
	margin-top:50px;
	_margin-top:65px;	
}

.searchbox-front-middle span{
		color:#ffffff;
	font-size:14px;
	text-align:right;
	float:right;
}

span.pinkie{
    width: 182px;
	height: 150px;
	display:block;
	color:#ffffff;
	font-size:14px;
	text-align:right;
	float:right;
	margin: 0;
	padding: 0;
}

.searchbox-front-middle a{
	color:#FFF;
	text-decoration:underline;

}
.searchbox-front-middle a:hover{
	text-decoration:none;
}

.searchbox-front-right{
	background-image:url(../Images/right.jpg);
	background-repeat:no-repeat;
	width:20px;
	height:386px;
	float:left;
}

.searchbox-index-left td.title{
color:#fff;
font:bold 20px Arial, Helvetica, sans-serif;
margin-left:10px;
}
.searchbox-index-left td.title b{
color:#fff;
font-size:13px;
font-weight:bold;
margin:0;
padding:0 0 0 50px;
}


.searchbox-index-left  {
width:900px;
float:left;
}

.searchbox-index-left-key  {
width:900px;
margin:30px 0 110px 30px;
float:left;
}

.searchbox-index-left-bus  {
width:900px;
margin:30 0 156px 30;
float:left;
}
.searchbox-index-left-con  {
width:900px;
margin:0 0 0px 30;
float:left;
text-align:left;
		color:#ffffff;
	font-size:16px;
	margin-top:20px;
}


p.inputbox{
width:300px;
height:43px;
_height:46px;
background:url(../Images/input.gif);
background-repeat:no-repeat;
padding:6px 16px 0 6px;
margin:0;
}

p.inputbox-b{
width:390px;
height:43px;
_height:46px;
background:url(../Images/input-b.gif);
background-repeat:no-repeat;
padding:6px 16px 0 6px;
margin:0;
}
p.inputbox input {
width:295px;

border:none;
color:#000000;
font-size:24px;
}
p.inputbox-b input {
width:375px;
border:none;
color:#000000;
font-size:24px;
}

.radio {
vertical-align:middle;
margin:0 5px 0 0;
padding:0;
width:15px;
height:15px;
}

p.smallinputbox{
width:308px;
height:23px;
background:url(../Images/smallinputbox.gif);
background-repeat:no-repeat;
padding:2px 4px 0 0px;
margin:0;
}


p.smallinputbox input {
width:290px;
border:none;
color:#000000;
text-align:left;
margin-left:5px;
}

p.context{
width:308px;
height:70px;
background:url(../Images/contacttext.gif);
background-repeat:no-repeat;
padding:2px 4px 0 0px;
margin:0;
text-align:left;
}
p.context textarea {
width:290px;
border:none;
color:#000000;
text-align:left;
margin-left:5px;
font-family:Arial;
font-size:11px;
}
p.sideinput{
width:172px;
_width:160px;
height:26px;
background:url(../Images/side-input.gif);
background-repeat:no-repeat;
padding:2px 2px 0 0px;
margin:0;

}
p.sideinput input {
width:160px;
_width:150px;
border:none;
color:#000000;
text-align:left;
margin-left:2px;
}
.searchbox-index-right {
float:left;
padding:0 0 0 10px;
margin:0;
width:450px;
height:386px;
}
.contact-title-label{
color:#fff;
font-size:14px;
font-weight:bold;}


.search-text{ padding:85px 40px 0 40px; color:#464546;font:bold 13px/15px Arial, Helvetica, sans-serif;}

.keyword-search{margin:230px 0 0 0;}

.thanksbox{
	background-repeat:no-repeat;
	width:360px;
	height:278;
	text-align:center;
	float:center:
	
}
.thanksbox p{
	padding-top:40px;
		color:#ffffff;
	font-size:14px;
	text-align:center;
}


/********** Search Options End*************/


.aligh-L{
text-align:left !important;
}

div.banners div.sitebanner {
  margin-bottom:   25px;
}

/*
.sitebanner {
margin:60px 0 0px 5px;
padding:0;
vertical-align:bottom;
float: left;
}
*/



.images-footer {
margin:30px 0 30px 60px;
padding:0;
overflow:hidden;
}
.images-footer ul{
margin:0;
padding:0;
list-style:none;
}
.images-footer ul li{
float:left;
width:147px;
}
.borderbottom {
border-bottom:1px solid #CCCCCC;
margin:0 0 15px;
}
.adminlinks, .privacylinks {
background-color:transparent;
color:#333333;
display:inline;
font-size:10px;
margin:0;
padding:0;
}
.adminlinks a {
background-color:transparent;
color:#FFFFFF;
font-size:0.9em;
padding:0 0 0 15px;
text-decoration:none;
}
.adminlinks a:hover {
text-decoration:underline;
}
.privacylinks {
margin:0;
padding:0;
}
.privacylinks a{
font-size:12px;
font-weight:bold;
}
.privacylinks li {
border-right:1px solid #333333;
list-style:none;
display:inline;
margin:10px 0 0;
padding:0 5px;
}
.privacylinks a:link {
color:#333333;
text-decoration:none;
}
.privacylinks a:visited {
color:#333333;
text-decoration:none;
}
.privacylinks a:hover {
text-decoration:underline;
}
.privacylinks a:active {
text-decoration:underline;
}
.powered {
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
padding:10px 0;
width:300px;
}
.alpha_links {
float: left;
width: 710px;
height: 20px;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
padding:0; 
margin: 100px 0 0 0;
color:#ffffff;
font-weight:bold;
text-align:left;
text-decoration:none;
}
.alpha_links a{
text-decoration:none;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#ffffff;
}
.alpha_links a: active {
color:#0b3156;
}


.alpha_links a:hover {
color:#0b3156;
text-decoration:underline;


}
.alpha_links span {
font-size:8.5px;
}

.alpha_links_small {
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
margin:0;
padding:0; margin:6px 0 4px 0;
color:#0b3156;
font-weight:bold;
}
.alpha_links_small a{

font-family:Verdana,Arial,Helvetica,sans-serif;
color:#1b67b1;
}
.alpha_links_small a: active {
color:#0b3156;
}


.alpha_links_small a:hover {
color:#0b3156;
text-decoration:underline;


}
.alpha_links_small span {
font-size:8.5px;
}
.news_links {
margin:0;
float:left;
height:305px;
}

.news_links img{
		border-style:solid;
	border-width:1px;
	
border-color:#2695d2;
}

.news_links_text {
font-size:14px;
margin:0;
float:left;
vertical-align:top;
}
.news_links_text a{
color:#ffffff;
}

.news_links_text_title{
width: 100%;
color:#ffffff;
background-image:url(../Images/headert.gif);
background-repeat:no-repeat;
line-height:26px;
}

.news_links_text h3{
color:#ffffff;
font-size:14px;
text-align:left;
font-weight:bold;
margin-left:5px;
}
.news_links_text a: active {
color:#ffffff;
}
.news_links_text a:hover {
color:#ffffff;
text-decoration:underline;
}
.news_links_text p{
font-size:11px;
color:#3C394F;
margin-left:4px;
margin-top:4px;
}

.news_links_text img{
	border-style:solid;
	border-width:1px;
	
border-color:#2695d2;
	
}

li.noborder {
border:medium none;
}
.tasks {
background-image:url(../Images/bg_task_tile.gif);
height:96px;
margin:0 0 20px 0;
padding:0;
width:100%;
}
.tasks h3 {
background-color:transparent;
color:#B3D337;
font-size:150%;
margin:0 30px 0 0;
padding:20px 0;
}
.findexisting {
background-image:url(../Images/icon_find_existing_128.gif);
background-position:right center;
background-repeat:no-repeat;
}
.tasks li {
background-image:url(../Images/bg_task_watermark.gif);
background-position:right center;
background-repeat:no-repeat;
border-bottom:2px solid #CCCCCC;
list-style-type:none;
margin:0;
padding:0 10px 20px 20px;
}
.tasks label {
display:block;
padding:0 0 10px;
}
.tasks input {
display:block;
}
.skip {
background-color:#ECF3F7;
background-position:center bottom;
height:30px;
margin:0 0 5px;
padding:0;
}
.skip h3 {
color:#333333;
font-size:90%;
margin:0 30px 0 0;
padding:10px 0 10px 15px;
}
.skip li {
border-bottom:2px solid #CCCCCC;
list-style-type:none;
margin:0;
padding:0 10px 20px 15px;
}
.skip label {
display:block;
padding:0 0 10px;
}
.searchbox {
width:230px;
}
.searchboxlong {
width:630px;
}

.navbar {
list-style-type:none;
margin:0;
padding:0;
}
.navbar li {
margin:0 0 0px 0;
padding:0;
}
.navbar a:link {
background-image:url(../Images/sprite_nav_btn.gif);
background-position:0 50%;
background-repeat:repeat-x;
border:1px solid #EEEEEE;
color:#E2007F;
display:block;
font-size:0.9em;
padding:6px 0px 6px 0px;
text-decoration:none;
}

.navbar a:visited {
background-image:url(../Images/sprite_nav_btn.gif);
background-position:0 50%;
background-repeat:no-repeat;
border:1px solid #EEEEEE;
color:#E2007F;
display:block;
font-size:0.9em;
padding:6px 3px 6px 0px;
text-decoration:none;
}
.navbar a:hover {
background-color:#F7F9FD;
background-image:url(../Images/sprite_nav_btn.gif);
background-position:0 50%;
background-repeat:repeat-x;
border:1px solid #EEEEEE;
color:#E2007F;
}
.navbar a:active, .navbar a:focus {
background-color:#F7F9FD;
background-image:url(../Images/sprite_nav_btn.gif);
background-position:0 50%;
background-repeat:repeat-x;
border:1px solid #EEEEEE;
color:#E2007F;
display:block;
font-size:0.9em;
padding:6px 3px 6px 0px;
text-decoration:none;
}

.topnotice{
color:#0f3a8f;
font-size:13px;
margin-top:6px;
margin-bottom:6px;
line-height:22px;
text-align:center;
}

.topnotice a{
color:#6594f5;
}

.topnotice a:hover{
	text-decoration:underline;
}

.topnotice span{
color:#ea6ab5;
font-weight:bold;
}

.sidepad{
	padding-left:10px;
	padding-top:30px;
	
}
.sidepad h2{
	font-weight:bold;
	font-size:15px;
	color:#FFF;}
.right{
text-align:right;
padding-right:10px;
padding-top:20px;
}

.navbar li img{ vertical-align:middle; margin:4px 4px 0 4px; float:left;}

.navigation .search {list-style-type: none;padding: 0;margin:0 5px; margin-top:10px;font-size:11px; font-weight:bold; color:#ffffff;}
.navigation .search li {padding: 0;margin: 0 0 8px 4px;  font-weight:bold; }
.navigation .search li h2 {font-size:16px;font-weight: bold;padding: 0 0 0 0;margin: 0;color:#ffffff;}
.navigation .search li span{padding:2px 2px 0 0px; float:left; color:#FFFFff;}
.navigation h2 { padding-left:4px; font-size:16px;font-weight: bold;padding: 0 0 0 0;margin: 0;color:#ffffff;}
.navigation li {padding: 0;margin: 8 8 8px 4px;  font-weight:bold; }
.navigation li span{padding:2px 2px 0 0px; float:left; color:#FFFFff;}


.submenu {
list-style-type:none;
margin:1px 0 0 0;
padding:0;
clear:both;
}
.submenu li {
color:#333333;
font-size:13px;
margin:0 0 1px 0;
padding:2px 3px 4px 5px;
}
.submenu li select {
border:1px solid #D5D5D5;
color:#666666;
font-size:10px;
vertical-align:middle;
width:165px;
}
select.suburbs{
  width:       160px;
  font-size:   11px;
  background:  #2285c7;
  color:       white;
  margin:      3px 0 0 6px;
}
.submenu li a:link {
background-color:#FFFFFF;
background-image:none;
border:0 solid #EEEEEE;
color:#2834D2;
display:block;
font-size:13px;
padding:2px 3px 4px 5px;
text-decoration:underline;
}
.submenu li a:visited {
background-color:#FFFFFF;
background-image:none;
border:0 solid #EEEEEE;
color:#2834D2;
display:block;
font-size:13px;
padding:2px 3px 4px 5px;
text-decoration:underline;
}
.submenu li a:hover {
background-color:#FFFFFF;
background-image:none;
color:#2834D2;
}
.submenu li a:active, .submenu li a:focus {
background-color:#FFFFFF;
background-position:13px center;
background-repeat:no-repeat;
border:0 solid #EEEEEE;
color:#2834D2;
display:block;
font-size:13px;
padding:2px 3px 4px 15px;
text-decoration:underline;
}
.floatright {
float:right;
}
.floatleft {
float:left;
}
.borderleft {
border-left:1px solid #CCCCCC;
padding:0 0 0 5px;
}
.radiolist, .checkboxlist, .textfieldlist {
list-style-type:none;
margin:0;
padding:0;
}
.radiolist li, .checkboxlist li, .textfieldlist li {
padding:5px;
}
.radiolist label, .checkboxlist label {
padding:5px;
}
.textfieldlist label {
padding:0 8px 0 0;
}
.textfieldlist label {
display:block;
}
.textfieldlong {
display:block;
margin:10px 0 0;
width:630px;
}
.textfieldshort {
margin:10px 0 0;
width:330px;
}
.textfieldskip {
margin:0;
width:165px;
}
.controlbar {
background-image:url(../Images/bg_controlbar_tile.gif);
background-position:center bottom;
background-repeat:repeat-x;
height:3em;
list-style-type:none;
margin:0;
padding:0;
}
.controlbar li {
float:left;
margin:0;
padding:10px 0 10px 10px;
}
.controlgreen {
background-color:transparent;
background-image:url(../Images/bg_green_tile.gif);
background-position:0 -5px;
background-repeat:repeat-x;
border:1px solid #999999;
color:#FFFFFF;
font-size:0.9em;
font-weight:bold;
margin:0;
padding:5px;
width:8em;
}
.controlgrey {
background-image:url(../Images/bg_grey_tile.gif);
background-position:center bottom;
background-repeat:repeat-x;
border:1px solid #999999;
color:#666666;
font-size:0.9em;
font-weight:normal;
margin:0;
padding:5px;
width:8em;
}

.controlgrey-demo {
font-size: 0.9em;
font-weight: normal;
width: 16em; 
color: #666;
background-image: url(../Images/bg_grey_tile.gif);
background-repeat: repeat-x;
background-position: bottom;
border: #999 solid 1px;
margin: 0;
padding: 5px;
}


.bannertable{
width:50%;
}
.bannertable td{
	height:150px;
	width:160px;
	overflow:hidden;
}
.classificationbanner{
	width:150px;
	height:150px;
	overflow:hidden;
	padding:0;
	margin:0;
}
.classification-banner-v div{
	width:150px;
	height:150px;
	overflow:hidden;
	padding:0;
	margin:0 0 20px 0;
	text-align:center;
}
.navbar li.classification-banner-v a{ border:none;}

.datatable {
background-color:#FFFFFF;
/*border:1px solid #2B2929; */
/*border-collapse:collapse;*/

/*font-family:Verdana,Arial,Helvetica,sans-serif;*/
/*font-size:10px;*/
width:600px;
_width:600px;
text-align:left;
}
.datatable a {
color:#000000;
text-decoration:none;
}
.datatable thead {
color:#333333;
text-align:left;
}
.datatable tfoot {
font-weight:bold;
}
.datatable tbody tr:hover {
border:2px solid #000000; 
}
.datatable td {
padding:0 0 0 0;
}
td.task {
padding:0px 5px;
}
td.overdue {
background-image:url(../Images/warning_16.gif);
background-position:5px center;
background-repeat:no-repeat;
padding:0 5px 0 25px;
}
.datatable th {
background-image:url(../Images/arrow_sort.gif);
background-position:left center;
background-repeat:no-repeat;
color:#999999;
font-size:100%;
font-weight:normal;
padding:5px 5px 5px 10px;
}
.result{
color: #943431;
}
th.task {
background-image:url(../Images/arrow_sort.gif);
background-position:25px center;
background-repeat:no-repeat;
padding:3px 5px 3px 35px;
}
.odd {
background-color:#FFFFFF;
}
.padd-list {
padding:5px 0;
}
.nowrap {
white-space:nowrap;
}
.noborder {
border:medium none;
}
.rightalign {
text-align:right;
}
.leftalign {
text-align:left;
}
.centeralign {
text-align:center;
}

.mainheading {
color:#ffffff;
font-size:14px;
font-weight:bold;
text-decoration:none;
background-color:#ea6ab5;
text-transform:uppercase;
	border-bottom:1px solid #ea6ab5;
border-top:1px solid #ea6ab5;
border-left:1px solid #ea6ab5;
border-right:1px solid #ea6ab5;
}

.mainheadingtop5 {
color:#ffffff;
font-size:14px;
font-weight:bold;
text-decoration:none;
background-color:#f831a6;
text-transform:uppercase;
	border-bottom:1px solid #ea6ab5;
border-top:1px solid #ea6ab5;
border-left:1px solid #ea6ab5;
border-right:1px solid #ea6ab5;

}
.mainheadingbg{
	margin-left:1px;
}
.mainheading a, .mainheadingtop5 a{
color:#ffffff;
padding-left:4px;
}

.mainheading a:hover {
font-size:14px;
font-weight:bold;
text-decoration:underline;

}

.mainheadingmap a {
color:#ffffff;
text-align:center;

}

.mainheadingmap{
color:#ffffff;
font-size:12px;
font-weight:bold;
background-color:#0f3a8f;
	border-bottom:1px solid #0f3a8f;
border-top:1px solid #0f3a8f;
border-left:1px solid #0f3a8f;
border-right:1px solid #0f3a8f;
text-align:center;
}

.map{
	
}

.mainheadingmap a:hover {
text-decoration:underline;
}
.mainheading1 {
color:#EC008C;
font-size:10.6px;
font-weight:bold;
text-decoration:none;
}
.mainheading1 a {
color:#EC008C;
font-size:10.6px;
font-weight:bold;
text-decoration:none;
}
.mainheading-blue {
color:#2E3192;
font-size:11px;
line-height:14px;
}
.mainheading-blue1 {
color:#2E3192;
font-size:10px;
line-height:14px;
}
.darkgrey {
color:#2a4475;
font-size:11px;
font-weight:bold;

}
.darkgrey1 {
color:#696969;
font-size:9px;
text-transform:uppercase;
}
.viewmap-blue {
color:#2E3192;
font-size:11px;
font-weight:bold;
line-height:16px;
}
.viewmap-blue a {
color:#2E3192;
text-decoration:underline;
}
.viewmap-blue a:hover {
color:#666666;
text-decoration:none;
}
.viewmap-blue1 {
color:#2E3192;
font-size:8px;
font-weight:bold;
}
.viewmap-blue1 a {
color:#2E3192;
text-decoration:underline;
}
.viewmap-blue1 a:hover {
color:#666666;
text-decoration:none;
}
.linebotom {	
background-color:#ffffff;
margin-left:3px;
margin-right:2px;
margin-bottom:3px;
width:595px;
}

.linebottomtop5{	
background-image:url(../Images/bg-pink.jpg);
background-repeat:no-repeat;
background-color:#ffffff;
margin-left:3px;
margin-right:2px;
margin-bottom:3px;
width:595px;
}

.linebotom2{
background-color:#FFFFFF;
margin-bottom:6px;
margin-left:5px;
/*
border-bottom:1px solid #0f3a90;
border-top:1px solid #0f3a90;
border-left:1px solid #0f3a90;
border-right:1px solid #0f3a90;
*/
}

.smallrext {
color:#FFFFFF;
font-size:12px;
}
.bottomseperator{
background:#ffffff;
height:10px;
width:990px;
clear:both;
background-image:url(../Images/bottom.gif);
height:54px;
background-repeat:no-repeat;

}

.mapbottom{
	background-image:url(../Images/mapbottom.gif);
	background-repeat:no-repeat;
height:40px;
width:990px;
clear:both;
}

.rankmapbottom{
	background-image:url(../Images/rankmapbot.gif);
	background-repeat:no-repeat;
height:40px;
width:750px;
clear:both;
}
.number-phone {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
padding-left:10px;
line-height:15px;
}
.number-phone-td {
/*width: 150px;*/
display:block;
color:#000000;
font-size:11px;
text-transform:uppercase;
line-height:16px;
float:left;
}

td.classification-listing  {
width: 250px;
display:block;
color:grey;
font-size:11px;
text-transform:capitalize;
line-height:16px;
text-align:left;
float:left;
}

.number-phone-td-low {
color:#000000;
font-size:10px;
text-transform:uppercase;
line-height:14px;
margin-left:3px;
}
.smallrextlow {
font-size:11px;
text-transform:uppercase;
line-height:14px;
color:#000000;
}

.smallrextlowMap {
font-size:11px;
line-height:14px;
color:#0f3a90;
text-align:right;
}

.smallrextlowMap a{
font-size:12px;
line-height:13px;
color:#0f3a90;
font-weight:bold;
text-align:right;
}

.smallrextlowMap a:hover{
text-decoration:underline;

}




.smallrextlowtitle {
font-size:11px;
text-transform:uppercase;
line-height:14px;
color:#EA6AB5;
}

.smallrextlowtitle  a{
font-size:11px;
text-transform:uppercase;
line-height:14px;
/*
margin-left:3px;
padding-left:4px;
*/
color:#EA6AB5;
}

.grey {
  color: grey;
}

p.search-refine {
  display:          block;
  width:            160px;
/*  height:            19px;*/
  background-color: #2285C7;
  color:            white;
  text-align:       center;
  line-height:      17px;
  border:           1px solid white;
  margin:           3px 0 0 4px;
  padding:          0;
}

.smallrextlowtitle  a:hover{
  text-decoration: underline;
}

.datatable-new {
color:#333333;
font-size:12px;
line-height:16px;
margin-left:10px;
width:94%;
}
.datatable-new a {
color:#000000;
text-decoration:none;
}
.datatable-new a:hover {
color:#000000;
text-decoration:underline;
}
.datatable-new td {
border-bottom:1px solid #DB4475;
font-size:11px;
padding:3px 5px 3px 0;
}
.width300 {
float:left;
width:208px;
}
.datatable-classnew {

color:#3b4e73;
font-size:12px;
line-height:16px;
margin:0px auto;
width:98%;
}
.datatable-classnew a {
color:#000000;
text-decoration:underline;
text-transform: capitalize;
}
.datatable-classnew a:hover {
text-decoration:none;
}
.datatable-classnew td {
font-size:14px;
line-height:19px;
padding:3px 10px 3px 3px;
background:#ffffff;
}
.datatable-classnew td a span {
color:#ea6ab5;

}
.search-subhead {
color:#fff;
font-size:13px;
margin:0;
padding:10px 0 5px 20px;
background:#282727;
}
.contact-title{
color:#fff;
font-size:16px;
margin:0;
padding:10px 0 5px 20px;
background:#282727;

}
.search-subhead span {
color:#DB4475;
font-size:13px;
}

.task td {
padding:0 0 0 0px;
}


.er-message {
background-color:#FDEB80;
border:1px dashed #FF3300;
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
margin:0 0 7px 2px;
padding:5px;
width:97%;
}
.er-message-success {
background-color:#FDEB80;
border:1px dashed #009900;
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
margin:5px;
padding:0 0 5px;
width:98%;
}
.er-image {
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
margin:0;
padding:0;
text-align:left;
width:40px;
}
.er-content {
font-family:Verdana,Arial,Helvetica,sans-serif;
margin:10px 0 0;
text-align:left;
}
.er-content ul {
float:left;
font-size:11px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
.er-content ul li {
margin:0 0 5px 10px;
padding:0;
}
.navbar {
float:left;
list-style-type:none;
margin:0 0px;
padding:8px 0 4px 0;
font-size:14px;
}
/*
.sitebanner {
width:  468px;
margin: 0 auto;
}
*/

.navbar span{
color:#FFFFff;
font-size:14px;
font-weight:bold;
}
.navbar h2{font-size:14px; font-weight:bold;}
.navbar li { 
margin:0 0 0px 0;
padding:0;
width:100%;
}
.navbar a:link {
border-bottom:1px solid #DD1379;
color:#DD1379;
display:block;
font-family:Verdana,Arial,Helvetica,sans-serif;

font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:25px;
padding:0 3px 0 0px;
text-decoration:none;
}
.navbar a:visited {
border-bottom:1px solid #DD1379;
color:#DD1379;
display:block;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:25px;
padding:0 3px 0 0px;
text-decoration:none;
}
.navbar a:hover {
border-bottom:1px solid #000000;
color:#000000;
display:block;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:25px;
padding:0 3px 0 0px;
text-decoration:none;
}
.navbar a:active {
border-bottom:1px solid #000000;
color:#000000;
display:block;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:25px;
padding:0 3px 0 0px;
text-decoration:none;
}

.maptop{
	background-image:url(../Images/rankmaptop.gif);
	background-repeat:no-repeat;
	width:750px;
	height:65px;
}

.datatable img {height:75px !important;width:100px;}

.map-detail{ clear:both; padding:0; margin:0;  background:#fff; overflow:hidden;  width:998px; height:100%;}



.map-detail-left{ width:450px; float:left; padding-left:5px; margin:0;   font-family:Verdana, Arial, Helvetica, sans-serif; 

 }

.map-detail-left h1{font:bold 20px Verdana, Arial, Helvetica, sans-serif ; color:#103c91; margin-top:25px; text-transform: capitalize;
padding:0;}
.map-detail-left li{ text-align:left; list-style:none; list-style: none; margin:0; padding:5px 0 3px 0px; color:#000000;  font:14px Arial; line-height:16px; }
.map-detail-left li p{ text-align:left;   font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#0095d9; margin:0; padding:5px 0 2px 0;}

.map-detail-left-rank h1{text-align:left; font:bold 20px Verdana, Arial, Helvetica, sans-serif ; color:#000000; margin-top:20px; text-transform: capitalize;
padding:0;}
.map-detail-left-rank h2{text-align:left; font:bold 14px Verdana, Arial, Helvetica, sans-serif ; color:#103c91;  text-transform: capitalize;
padding:0; margin-top: 5px;}
.map-detail-left-rank li{  text-align:left; list-style:none; list-style: none; margin-top:8px; color:#000000;  font:14px Arial; line-height:16px; padding: 0;}
.map-detail-left-rank li span{  text-align:left; list-style:none; list-style: none; margin:0; padding:5px 0 3px 0px; color:#000000;  font:14px Arial; line-height:15px; }
.map-detail-left-rank li p{  font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#999999; margin:0; padding:5px 0 2px 0;}
.map-detail-left-rank ul{
  text-align:left; 
  margin:  0; 
  padding: 0 0 0 10px;
 }
 
 ul.map-detail-left-rank {
   padding: 0;
 }
 
.map-detail-left-rank li span.pink {
  color: #e90e8d;
}   

.googlemapword a{ margin:0; color:#ffffff; padding:8px 8 8px 8px; font:bold 12px Verdana, Arial, Helvetica, sans-serif;}
.googlemapword a:hover {color:#FAF4F8;}


.map-detail{ clear:both; padding:0; margin:0;  background:#fff; overflow:hidden;  width:998px; height:100%;}





.map-detail-right{ width:405px; float:right; margin-right:10px; padding:10px; list-style:none;}
.map-detail-right li.footer-map{ margin:0; padding:5px 0 3px 0px; font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
.map-detail-right li.footer-map a{color:#000000;}
.map-detail-right li.footer-map b{font-weight:normal; padding:0 0 0 350px; margin:0;}
.map-detail-right li.footer b a{color:#000000;}
.map-detail-right li.footer img{ margin:0 0 0 0; padding:0;}

.map-detail-left-back { float:left; margin-right:10px; padding:10px; list-style:none;}
.map-detail-left-back li.footer-map{text-align:left;  margin:0; padding:5px 0 3px 0px; font:normal 16px Verdana, Arial, Helvetica, sans-serif;}
.map-detail-left-back li.footer-map a{color:#000000;}
.map-detail-left-back li.footer-map b{font:normal 20px Verdana, Arial, Helvetica, sans-serif; padding:0 0 0 350px; margin:0;}
.map-detail-left-back li.footer b a{color:#000000;}
.map-detail-left-back li.footer img{ margin:0 0 0 0; padding:0;}

.image-detail-right{ width:405px; float:right; margin-right:10px; padding:10px; list-style:none;}



<!--Css for Bold Listing Page-->
	br{ clear:both;}
	.header-card{ list-style:none; margin:0 0 0 0; padding:7px 5px 2px 5px; height:25px; background:#282727 url(../Images/bg-card.gif) repeat-x; color:#FFFFFF; border-bottom:1px solid #6A5969; overflow:hidden; font:normal 11px Verdana, Arial, Helvetica, sans-serif; clear:both;}
	.header-card li{ float:right; padding:0 5px; text-transform:capitalize;}
	.header-card li.title-card{ float:left; text-transform:uppercase; font-size:14px; font-weight:bold;}
	.header-card li.btn-card{ margin:0 0 0 150px;}
	.header-card li a{ color:#FFFFFF; text-decoration:underline; margin:0 2px;}
	.header-card li a:hover{text-decoration:none;}
	
	.address{ clear:both; padding:4px; width:740px; }
	
	.left-card{ float:left; width:320px; border:2px solid #aec4d8; font:normal 13px Arial, Helvetica, sans-serif; padding:2px; padding-top:0; text-align:left;}
	.left-card ul{ list-style:none; margin:0; padding:0;}
	.left-card ul li{ display:block;}
	.left-card ul li span{ float:left; width:60px;}
	
	h6{ margin:0; padding:10px 0 0 0; font-size:16px; color:#0B000B;}
	h5{ margin:0; padding:10px 0 0 0; font-size:16px; color:#0B0454;}

	
	.right-card{ float:left; width:400px; margin-left:7px; border:2px solid #aec4d8; font:normal 11px Verdana, Arial, Helvetica, sans-serif; }
	.right-card b{ float:right;}
	.gmapDir{ text-align:left;}
	
	.footer-card{ list-style:none; margin:0 0 0 0; padding:7px 5px 2px 5px; height:25px; background:#282727 url(../Images/bg-card-lower.gif) repeat-x bottom; color:#FFFFFF; border-top:1px solid #6A5969; overflow:hidden; font:normal 11px Verdana, Arial, Helvetica, sans-serif; clear:both;}
	.footer-card li{ float:left; padding:0 5px;}
	.footer-card li a{ color:#ffffff; text-decoration:underline;}
	.footer-card li a:hover{text-decoration:none;}
	
	.description {
	  padding: 15px;	
	}
	
/******* contact start ********/


.contact-content{color:#464546;font:normal 13px/15px Arial, Helvetica, sans-serif; float:left; width:386px;_width:406px; height:157px;_height:187px; background:#EFEBDE url(../Images/bg-contact-content.gif) no-repeat; padding:10px 10px 20px 10px;}

.contact-content-sent{color:#464546;font:normal 13px/15px Arial, Helvetica, sans-serif; width:386px;_width:406px; height:157px;_height:187px; background:#EFEBDE url(../Images/bg-contact-content.gif) no-repeat; padding:10px 10px 20px 10px; margin-left:230px;}


.contact-content span{ font-weight:bold; display:block; line-height:16px; padding:10px 0 4px 0;}
.contact-content-sent span{ font-weight:bold; display:block; line-height:25px; padding:10px 0 4px 0; margin-top:50px; margin-left:15px;}
.contact-form label{
color:#fff;
font:normal 16px Arial, Helvetica, sans-serif;
float:left;
width:200px;
vertical-align:top;
}
.contact-form input{ border:none; width:230px}
.contact-form select{ border:1px solid #fff; width:230px}
.contact-form textarea{ border:none; width:230px}
.contact-form .controlgrey{ width:auto;}
.contact-form ul {
list-style:none;
padding:0;
margin:0;
width:500px;
float:left;
}
.contact-form ul li {
clear:both;
margin:0 0 10px 0;
}
	.contact-title{ list-style:none; margin:0 10px 0 5px; padding:7px 5px 10px 5px; background:#282727 url(../Images/bg-card.gif) repeat-x; color:#FFFFFF;  overflow:hidden; font:bold 15px Verdana, Arial, Helvetica, sans-serif; clear:both; text-align:center;}


.power{
margin:0;
padding:25px 0  0 20px;
color:#737573;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8.5px;
float:left;
font-weight:bold;
}


.power a{
text-decoration:underline;
color:#000;

}

.power a:hover{
text-decoration:none;
color:#CC0066;
}

.power a:hover{
text-decoration:none;
color:#CC0066;
}

.banners {
  padding-top: 52px;
}

#cityListFooter a, #cityListFooter a:visited, #cityListFooter a:link {
	color:#666;
	text-decoration:none;
	font-size:11px;
}

#cityListFooter th {
	font-size:11px;
}

/********* contact end ********/